
/* .header a.home {
  background-color: var(--navigation);
  font-family: monospace;
  color: var(--text);
} */

/* .header a.about {
  background-color: var(--navigation);
  font-family: monospace;
  color: var(--text);
  margin-left: 5px;
} */


/* <div class="body text-style">
<!-- <h1>Laptop For You</h1> -->
<!-- <p>Buy a laptop for any use you want</p> -->
<!-- <div class="dropdown">
  <button class="dropbtn">Categories</button>
  <div class="dropdown-content">
    <a href="#">Hp</a>
    <a href="#">Toshiba</a>
    <a href="#">Dell</a>
    <a href="#">Acer</a>
    <a href="#">MSI</a>
    <a href="#">Asus</a>
  </div>
</div> -->
</div> */
