
/* .header a.home {
  background-color: var(--navigation);
  font-family: monospace;
  color: var(--text);
} */

/* .header a.about {
  background-color: var(--navigation);
  font-family: monospace;
  color: var(--text);
  margin-left: 5px;
} */
